.vs
.vs/JavaScriptInterpreter/v15/.suo
.vs/JavaScriptInterpreter/v16/.suo
.vs/JavaScriptInterpreter/v15/.suo
.vs/JavaScriptInterpreter/v16/.suo
InterpreterShould/obj
JavaScriptInterpreter/obj/Release
JavaScriptInterpreter/obj/Debug
packages
